<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Predeterminado{% endblock %}</title>
    <!-- Agrega tus enlaces a hojas de estilo CSS aquí si es necesario -->
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
        {% block content %}
        <!-- Aquí se colocará el contenido específico de cada plantilla que herede de base.html -->
        {% endblock %}
    </div>
</body>
</html>
