{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-md-center">    
     <div class="flex flex-col justify-center items-center">
            <div class="flex flex-col p-4">
                <h1 class="text-3xl font-bold text-center py-4">¡Registrate!</h1>
                <form class="flex flex-col gap-4 text-lg w-[600px]" method="post">
                    {% csrf_token %}
                    
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                
                    {{ form.correo.label_tag }}
                    {{ form.correo }}
                    {{ form.correo.errors }}
                
                    {{ form.nombre.label_tag }}
                    {{ form.nombre }}
                    {{ form.nombre.errors }}
                
                    {{ form.apellido.label_tag }}
                    {{ form.apellido }}
                    {{ form.apellido.errors }}
                
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {% if form.errors.password1 %}
                    <div class="alert alert-danger">
                        {{ form.errors.password1 }}
                    </div>
                    {% endif %}
                
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                    
                    <button class="bg-blue-700 rounded text-white" type="submit">Registrarse</button>
                </form>
                <p>¿Ya tienes una cuenta? <a href="{% url 'inicio_sesion' %}" class="btn btn-link">Inicia sesión aquí</a></p>
            </div>
        </div>
 
</div>
{% endblock %}
