{% extends "base.html" %}

{% block content %}
  <h1>Resultados de la Búsqueda</h1>
  <div class="row">
    {% if habitaciones %}
      {% for habitacion in habitaciones %}
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Habitación {{ habitacion.numero }}</h5>
              <p class="card-text">
                <strong>Capacidad:</strong> {{ habitacion.tipo_habitacion.capacidad }} personas<br>
                <strong>Tipo:</strong> {{ habitacion.tipo_habitacion.nombre }}<br>
                <strong>Fecha de Disponibilidad:</strong> {{ habitacion.tipo_habitacion.fecha_disponible|default:"Disponible" }}<br>
                
              </p>
              <a href="{% url 'detalle_habitacion' numero_habitacion=habitacion.numero %}" class="btn btn-primary">Detalles</a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p class="col-md-12">No se encontraron habitaciones disponibles con los criterios de búsqueda seleccionados.</p>
    {% endif %}
  </div>
{% endblock %}
