<!DOCTYPE html>
<html>
<head>
    <title>Perfil de Usuario</title>
</head>
<body>
    <h1>Perfil de Usuario</h1>

    <h2>Datos del Cliente:</h2>
    <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
    <p><strong>Apellido:</strong> {{ cliente.apellido }}</p>
    <p><strong>Correo:</strong> {{ cliente.correo }}</p>
    <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>

    <h2>Reservas:</h2>
    <ul>
        {% for reserva in reservas %}
        <li>
            <strong>Fecha de Entrada:</strong> {{ reserva.fecha_entrada|date:"d/m/Y" }}<br>
            <strong>Fecha de Salida:</strong> {{ reserva.fecha_salida|date:"d/m/Y" }}<br>
            <strong>Precio Total:</strong> ${{ reserva.precio_total }}<br>
            <a href="{% url 'detalle_habitacion' reserva.habitacion.id %}">Ver detalles de la habitación</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
