{% extends "base.html" %}

{% block content %}
  <h1>Resultados de la Búsqueda</h1>
  {% if habitaciones %}
    <ul>
      {% for habitacion in habitaciones %}
        <li>
          <strong>Número:</strong> {{ habitacion.numero }}<br>
          <strong>Capacidad:</strong> {{ habitacion.tipo_habitacion.capacidad }} personas<br>
          <strong>Tipo:</strong> {{ habitacion.tipo_habitacion.nombre }}<br>
          <strong>Fecha de Disponibilidad:</strong> {{ habitacion.tipo_habitacion.fecha_disponible|default:"No especificada" }}<br>
          <!-- Agrega más detalles de la habitación aquí si es necesario -->
          <a href="{% url 'crear_reserva' habitacion.id %}">Reservar</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No se encontraron habitaciones disponibles con los criterios de búsqueda seleccionados.</p>
  {% endif %}
{% endblock %}
